<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello</h1>
<p>
  You are receiving this email with regard to your inquiry <br>
 <%= @message %>.
</p>
<p>Thanks for your interest and have a great day!</p>
</body>
</html>