<p id="notice"><%= notice %></p>

<h1>Welcome to PRP Company!!</h1>
<!--
<h1>Listing all info</h1>
<%#= link_to "Show all real estate companies", real_estate_companies_url %>
<%#= link_to "Show all realtors", realtors_url %> <%#= link_to "Show all house hunters", hunters_url %>
<%#= link_to "Show all houses", houses_url %> <%#= link_to "Show all inquiries", inquiries_url %>
-->




